{% extends 'base.html' %}
{% block content %}
<main>
    <!-- Category Cards -->
    <section class="category-cards">
        <!-- Category cards loop -->
        {% for category in categories %}
            <div class="category-card">
                <h2>{{ category.name }}</h2>
                <p>Description or any other information about the category</p>
                <a href="{% url 'display_subjects' category.id %}">View Subjects</a>
            </div>
        {% endfor %}
    </section>
</main>

{% endblock content %}
