{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="quiz-container">
    <div id="quiz-list">
        {% for question in quiz %}
        <div class="question-card">
            <div class="question-text">
                <p>{{forloop.counter}}. {{question.text}}</p>
            </div>
            {% for option in question.choice_set.all %}
            <div class="option">
                <label for="{{option.id}}">
                    <input value="{{option.text}}" type="radio" name="{{option.question.id}}" id="{{option.id}}">
                    {{option.text}}
                </label>
                {% if option.is_correct %}
                <span>{{option.text}}</span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div id="pagination-buttons">
        <button id="prev-button" class="pagination-button" disabled>Previous</button>
        <button id="next-button" class="pagination-button">Next</button>
    </div>
    <div class="quiz-info">
        <div class="quiz-info-card">
            <div class="timer">Timer: <span id="timerDisplay">00:00</span></div>
            <div class="questions-solved" >Questions Solved: <span id="counterDisplay">0</span></div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const quizList = document.getElementById("quiz-list");
        const prevButton = document.getElementById("prev-button");
        const nextButton = document.getElementById("next-button");
        const questions = document.querySelectorAll(".question-card");
        const numPerPage = 1;
        let currentPage = 0;

        // Timer
        var timerDisplay = document.getElementById('timerDisplay');
        var startTime = new Date().getTime() + (2 * 60 * 60 * 1000) + (1 * 60 * 1000); // Start from 2 hours 1 minute
        updateTimer(); // Update timer initially to avoid delay

        function updateTimer() {
            var currentTime = new Date().getTime();
            var remainingTime = startTime - currentTime;

            if (remainingTime <= 0) {
                clearInterval(timerInterval);
                timerDisplay.textContent = '00:00:00';
                return;
            }

            var hours = Math.floor(remainingTime / (1000 * 60 * 60));
            var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);
            
            timerDisplay.textContent = ('0' + hours).slice(-2) + ':' + ('0' + minutes).slice(-2) + ':' + ('0' + seconds).slice(-2);
        }

        var timerInterval = setInterval(updateTimer, 1000); // Update timer every second

        // Counter
        var counterDisplay = document.getElementById('counterDisplay');
        var questionCounter = 0;

        // Function to increment question counter
        function incrementCounter() {
            questionCounter++;
            counterDisplay.textContent = questionCounter;
        }

        // Attach event listener to radio buttons to count answered questions
        var radioButtons = document.querySelectorAll('input[type="radio"]');
        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener('change', incrementCounter);
        });

        function showPage(page) {
            questions.forEach((question, index) => {
                if (index >= page * numPerPage && index < (page + 1) * numPerPage) {
                    question.style.display = "block";
                } else {
                    question.style.display = "none";
                }
            });
            updateButtons();
        }

        function updateButtons() {
            prevButton.style.visibility = currentPage === 0 ? "hidden" : "visible";
            prevButton.disabled = currentPage === 0;
            nextButton.style.visibility = currentPage === Math.ceil(questions.length / numPerPage) - 1 ? "hidden" : "visible";
            nextButton.disabled = currentPage === Math.ceil(questions.length / numPerPage) - 1;
        }

        prevButton.addEventListener("click", function() {
            if (currentPage > 0) {
                currentPage--;
                showPage(currentPage);
            }
        });

        nextButton.addEventListener("click", function() {
            if (currentPage < Math.ceil(questions.length / numPerPage) - 1) {
                currentPage++;
                showPage(currentPage);
            }
        });

        showPage(currentPage);
    });
</script>


{% endblock content %}
